#new_calendarentry {
  margin-top: 10px;
}
#calendarentry_title{
  margin: 10px;
}
#calendarentry_desc {
  margin-top: 10px;
  margin-bottom: 10px;
}
#calendarentry_create{
  margin-top: 10px;
  margin-bottom: 10px;
}
#calendarentry_end {
  margin-top: 10px;
}
