.ui.search {
  padding-bottom: 10px;
}

/* Default Image Width */

.ui.items > .item > .image:not(.ui) {
  width: 175px;
}

/* Tablet Only */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ui.search {
    padding-bottom: 10px;
  }

  .ui.items > .item {
    margin: 1em 0em;
  }

  .ui.items > .item > .image:not(.ui) {
    width: 150px;
  }

  .ui.items > .item > .image + .content {
    display: block;
    padding: 0em 0em 0em 1em;
  }
}

/* Mobily Only */

@media only screen and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ration: 1.5) {
  .ui.search {
    padding-bottom: 10px;
  }

  .ui.items > .item {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 2em 0em;
  }

  .ui.items > .item > .image,
  .ui.items > .item > .image > img {
    border: 1px solid blue;
    width: auto !important;
  }

  .ui.items > .item > .image + .content {
    width: auto;
    display: block;
    padding: 1.5em 0em 0em;
    border: 1px solid green;
  }
}

.ui.relaxed.divided.items > .item {
  width: auto;;
  margin: 200em;
  padding: 1.5em 0em;
  //border: 1px solid red;
}
