#new_user {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

#login_container {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  #username {
    width: 100%;
    margin-bottom: 10px;
    #username_text {
      text-align: right;
    }
  }
  #password {
    width: 100%;
    margin-bottom: 10px;
  }
  #submit_button {
    width: 100%;
    margin-bottom: 5px;
  }
  #remember {
    text-align: center;
  }
}

#create_container {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  #username_create {
    width: 100%;
    margin-bottom: 10px;
  }
  #password_create {
    width: 100%;
    margin-bottom: 10px;
  }
  #password_confirm {
    width: 100%;
    margin-bottom: 10px;
  }
  #submit_button {
    width: 100%;
    margin-bottom: 5px;
  }
}

#forgot_container {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  #mail_forgot {
    width: 100%;
    margin-bottom: 10px;
  }
  #submit_button_forgot {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

#login_message {
  margin-left: auto;
  margin-right: auto;
  width:auto;
}
