
.issuuembed {
  width: auto !important;
  height: auto !important;
  border: 1px solid #ccc;
  padding-bottom: 5px;
  background: white;
  overflow: hidden;
  div {
    text-align: center !important;
  }
}
