
.group-grid
  - @groups.each do |g|
    - if g.has_page?
      = link_to human_page_path(g.page.path) do
        = render 'groups/grid_item', group: g
    - else
      = render 'groups/grid_item', group: g