<h1>Gruppen</h1>

<table class='system'>
  <tr>
    <th>Name</th>
    <th>Leiter</th>
    <th>Mitglieder</th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= link_to group.name, group_path(group) %></td>
    <td><%= group.leader.map {|m| m.full_name }.join(', ') %></td>
    <td><%= group.group_memberships.count %></td>
  </tr>
<% end %>
</table>