
<h1><%= @group.name %>
  <div class='subtitle'><%= @group.description %></div>
</h1>



<%= render 'pages/show', page: @group.page %>


<% content_for :actions do %>
  <%= navigation_link_to 'Gruppe bearbeiten', edit_group_path(@group) %>
<% end %>