<div class='ui relaxed divided items'>
  <% for page in @pages do %>
    <div class="item" id="blog-entry">
      <article id="blog-article" data-created-at='<%= l page.created_at, format: :no_time %>'>

        <%= render 'pages/show', page: page %>

      </article>
    </div>
  <% end %>
</div>
