<h1>Jugendtheater-Martinszell</h1>
<p>Herzlich Willkommen auf der neuen Internetpräsenz des Jugendtheaters Martinszell</p>
<p>Wir befinden uns gerade im Neuaufbau und sind deshalb momentan nicht erreichbar</p>
<p><%= link_to "Links", href="/links" %><br><%= link_to "Projekte", href="/projects" %></p>