
<h1><%= @page.title %></h1>


  <ul>
    <% @page.children.where(show_in_navigation: true).each do |subpage| %>
      <li><%= link_to subpage.title, subpage %></li>
    <% end %>
  </ul>


<%= @page.content.try :html_safe %>

<div class='clearfix'></div>


<% content_for :actions do %>
  <%= navigation_link_to 'Seite bearbeiten', edit_page_path(@page) %>
<% end %>
