<% set_background @page.background %>

<%= render_breadcrumbs %>

<%= render 'navigation', page: (@page.navigation_style == 'parent' ? @page.parent : @page) %>


<%= liquidize @page.content, 'page' => @page %>
<%# raw Liquid::Template.parse(@page.content).render({page: @page}) %>

<div class='clearfix'></div>


<% content_for :actions do %>
  <%= navigation_link_to 'Seite bearbeiten', edit_page_path(@page) %>
<% end %>
