<% memberships.each do |membership| %>
  <div class='actor'>

      <% if membership.actor_image %>
        <div class='actor-image'>
          <a href='<%= member_path(membership.member) %>'><img src='<%= membership.actor_image.file.url(:square) %>'></a>
        </div>
      <% end %>

    <span class='member'><%= link_to membership.member.full_name, member_path(membership.member) %></span>
    <span class='role'><%= membership.role %></span>
  
  </div>
<% end %>