<% memberships.each do |membership| %>
  <div class='actor'>

      <div class='actor-image'>
        <% if membership.actor_image %>
          <a href='<%= member_path(membership.member) %>'>
            <img src='<%= asset_url membership.actor_image.file.url(:square) %>'>
          </a>
        <% end %>
      </div>

    <span class='member'><%= link_to membership.member.full_name, member_path(membership.member) %></span>
    <span class='role'><%= membership.role %></span>

  </div>
<% end %>
