/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree ./site
 *= require_tree ./site_responsive
 *= require nivo-slider
 *= require prettyPhoto
 *= require_self
 */


div.pp_default .pp_social {
  margin-top: 4px;
  vertical-align: top;
}

.pp_social .facebook {
  width: 600px;
  iframe {
    height: 30px !important;
  }
}
