
$font-color: rgba(255, 255, 255, 0.8);

#breadcrumbs {
  background: rgba(0, 0, 0, 0.9);
  margin-left: -25px;
  margin-right: -25px;
  margin-top: -25px;
  
  padding: 5px 10px;
  color: $font-color;
  font-size: 12px;
  
  a {
    color: $font-color;
    
    
  }
}