@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,800,700,300);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

@import 'compass';
@import 'tables';

%font-copy {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

%font-header {
  font-family: 'Rokkitt', serif;
}

body, table, td, th {
  @extend %font-copy;
}

h1, h2, h3, h4, h5, h6 {
  @extend %font-header;
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
}

/************************* Images */
img {
  max-width: 100%;
}

.polaroid-image {
/*  display: inline-block;*/
  line-height: 1em;
  border: 1px solid #ccc;
  padding: 10px;
  background: white;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

.group-list-gallery {

}


/************************************/
.subtitle {
  @extend %font-copy;
  color: #666;
  font-weight: normal;
  font-size: 0.6em;
  line-height: 0.6em;
}

/*.wysiwyg-text-align-center {
  text-align: center;
}

.wysiwyg-text-align-left {
  text-align: left;
}

.wysiwyg-text-align-right {
  text-align: right;
}

.wysiwyg-text-align-justify {
  text-align: justify;
}

.wysiwyg-float-right {
  float: right;
  margin: 15px;
  margin-right: 0px;
}

.wysiwyg-float-left {
  float: left;
  margin: 15px;
  margin-left: 0px;
}*/

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

code {
  background-color: #eee;
  display: block;
  border: 1px solid #aaa;
  padding: 10px;
  @include border-radius(4px);
}

a {
/*  color: #000;*/
  color: #B8004A;
  text-decoration: none;
  cursor: pointer;
  
  &:visited {

  }
  
  &:hover {
    text-decoration: underline;
  }
}

/******************** Lists ***********/
ol li {
  margin-bottom: 20px;
}

ol.lower-alpha {
  list-style-type: lower-alpha;
  li { margin-bottom: 5px; }
}



/************************************ Clearfix */
.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table;
}

.clearfix:after {
    clear: both;
}


iframe {
  border: 1px solid #ccc;
}

hr {
  border: 0px solid black;
  border-top: 1px solid #ccc;
  margin: 20px -25px;
}



