@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,800,700,300);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

@import 'tables';

%font-copy {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

%font-header {
  font-family: 'Rokkitt', serif;
}

body {
  @extend %font-copy;
}

img {
  max-width: 100%;
}


table, td, th {
  @extend %font-copy;
}

h1, h2, h3, h4, h5, h6 {
  @extend %font-header;
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.subtitle {
  @extend %font-copy;
  color: #666;
  font-weight: normal;
  font-size: 0.6em;
  line-height: 0.6em;
}

.wysiwyg-text-align-center {
  text-align: center;
}

.wysiwyg-text-align-left {
  text-align: left;
}

.wysiwyg-text-align-right {
  text-align: right;
}

.wysiwyg-text-align-justify {
  text-align: justify;
}

.wysiwyg-float-right {
  float: right;
  margin: 15px;
  margin-right: 0px;
}

.wysiwyg-float-left {
  float: left;
  margin: 15px;
  margin-left: 0px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
/*  color: #000;*/
  color: #B8004A;
  text-decoration: none;
  cursor: pointer;
  
  &:visited {

  }
  
  &:hover {
    text-decoration: underline;

  }
}

ol {
  li {
    margin-bottom: 20px;
  }
}


/*OL { 
  counter-reset: item;

    LI:before { 
      content: counter(item) counter(item);
      color: red;
    }

  LI {
    counter-increment: item;
  }


  
}*/


/************************************ Clearfix */
/*.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

iframe {
  border: 1px solid #ccc;
}

hr {
  border: 0px solid black;
  border-top: 1px solid #ccc;
  margin: 20px -25px;
}



