/**
 *= require select2
 *= require datepicker
 * require bootstrap-colorpicker
 */


@import 'bootstrap/variables';
@import 'bootstrap/mixins';

@import 'bootstrap/sprites';
@import 'bootstrap/buttons';
@import 'bootstrap/button-groups';
@import 'bootstrap/progress-bars';
@import 'bootstrap/alerts';

@import 'copy';


/************************************* Text Inputs */

%text-input {
  border: 1px solid #aaa;
  padding: 5px 10px;
  @include border-radius(4px);
  background: white;
}

%small-text-input {
  @extend %text-input;
  padding: 3px 4px;
  @include border-radius(3px);

}

input[type=text], input[type=email], input[type=password] {
  @extend %text-input;
  @extend %font-copy;
  width: 100%;
}

textarea {
  @extend %text-input;
  @extend %font-copy;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  height: 100px;
  resize: vertical;
}

.wysihtml5-sandbox {
  @extend %text-input;
  height: 1000px;
  width: 100%;
  border-left: 0; border-right: 0;
  padding-left: 0; padding-right: 0;
  background: transparent;
}

.wysihtml5-toolbar {
  @extend .btn-toolbar;
  margin-bottom: 45px;
  position: relative;
  
  a {
    @extend .btn;
    @extend .btn-small;
    text-decoration: none;
  }
  
  div[data-wysihtml5-dialog] {
    @extend %text-input;
    margin-top: 5px;
    background-color: #FFE6D8;
    height: 35px;
    position: absolute;
    width: 100%;
    
    input.text {
      @extend %font-copy;
      @extend %small-text-input;
      font-size: 11px;
      line-height: 1em;
      vertical-align: top;
    }
    
    a {
      @extend .btn-inverse;
      @extend .btn-mini;
      vertical-align: top;
    }
  }
}

.wysihtml5-toolbar-group {
  @extend .btn-group;
}

.wysihtml5-command-active {
/*  font-weight: bold;*/
  @extend .active;
}

/************************************* Buttons */

input[type=submit] {
  @extend .btn;
  @extend .btn-success;
  
  &.btn-danger {
    @extend .btn-danger;
  }
}

.actions {
  border-top: 1px solid #ccc;
  margin-top: 50px;
  margin-left: -25px;
  margin-right: -25px;
  padding: 10px 25px;
  
  text-align: left;
}

.actions > a {
  @extend .btn;
  margin-top: 20px;

}

/*************************************** File Upload */
.multifile-upload {
  .file {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    margin-bottom: 25px;
    padding: 10px;
    width: 420px;
    height: 200px;
    line-height: 1em;
    overflow: hidden;
    background: white;
    
    img {
      width: 150px;
      display: inline-block;
      line-height: 1em;
      border: 1px solid #ccc;
      background: white;
    }
    
    .file-details {
      line-height: 1.5;
      vertical-align: top;
      display: inline-block;
      padding: 5px;
      width: 240px;
      
      a {
        font-size: 0.8em;
        text-decoration: underline;
        margin-right: 5px;
      }
    }
    
    .file-name {
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }
    
    .file-actions {
      margin-top: 25px;
      &> a {
        @extend .btn;
        @extend .btn-mini;
        text-decoration: none;
        &.btn-danger {
          @extend .btn-danger;
        }
      }
    }
  }
  
  .drop-target {
    font-weight: bold;
    line-height: 2;
    text-align: center;
    cursor: pointer;
  }
}


/*************************************** Progress Bar */
.progress {
  @extend .progress-striped;
  @extend .active;
  margin-top: 25px;
}


/*************************************** Tagging */
.select2-container {
  width: 100%;
  
  .select2-choice {
    height: 35px;
  }
  
}



.select2-container-multi {
  .select2-choices {
    @extend %text-input;
    
    .select2-search-field {
      margin-left: 10px;
      input {
        @extend %font-copy;
        margin: 0;
        padding: 0;
/*        border: 1px solid red;*/
        height: 100%;
      }
    }
  }
}


/************************************** hint */
.hint {
  @extend .alert;
  @extend .alert-info;
  text-align: center;
  font-weight: bold;
}

#flashes {
  position: absolute;
  left: 25px;
  right: 25px;
  top: -20px;
}

.alert-notice {
  @extend .alert-success;
}


