// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-image {
  float: right;
  margin-top: 25px;
  margin-bottom: 15px;
/*    position: absolute;
    top: 25px;
    right: 25px;*/
}

h1.profile-name {
/*    margin-top: -33px;*/
}

h3.profile-info {
    margin-top: -10px;
/*    margin-bottom: 250px;*/
}