.project-box{
	display: inline-table;
	width: 400px;
	height: 160px;
	padding: 10px;
	margin-left: 20px;
	margin-bottom: 20px;
	box-shadow: 3px 3px 5px 6px #ccc;;
	img{		
		padding: 4px;
		margin-right: 4px;
	}
	h2{
		margin-bottom: -1px;
		margin-top: -4px;
	}
	p{
		margin-top: 5px;
	}
}

.slider-wrapper {
  margin-left: -25px;
  margin-right: -25px;
  
  .nivo-controlNav {
    display: none;
  }
  
  .nivo-directionNav {
    display: none;
  }
}

.sortable-images {
  font-size: 0;
  
  img {
    display: inline-block;
    margin: 0 8px 8px 0;
/*    border: 1px solid #ccc;*/
  }
}