
.slider-wrapper {
  margin-left: -25px;
  margin-right: -25px;
  
  .nivo-controlNav {
    display: none;
  }
  
  .nivo-directionNav {
    display: none;
  }
}

.sortable-images {
  margin: 0;
  padding: 0;
  
  li {
    display: inline-block;
    margin: 0 5px 5px 0;
  }
}