.slider-wrapper {
  margin-left: -25px;
  margin-right: -25px;

  
  .nivo-controlNav {

  }
	.nivo-control img{
	  width:50px;
	  height:50px;
	  margin:1px;
	  transition: blur .5s;
	  -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
	}

	.nivo-control.active img {
	  -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
	  
	}

  .nivo-nextNav{
  	-webkit-transition: opacity .5s;
  	-moz-transition: opacity .5s;
  	-o-transition: opacity .5s;
  	opacity: 0;
    margin-right: 5px;
  	margin-top: -15px;
  	text-indent: -9999px;
  	width: 50px;
  	height: 49px;
  	background-image: url(/images/right_arrow.png);
  	background-size: 50px, 50px;
  }  
  .nivo-prevNav{
  	transition: opacity .5s;
  	-webkit-transition: opacity .5s;
  	-moz-transition: opacity .5s;
  	-o-transition: opacity .5s;
  	opacity: 0;
  	margin-left: 5px;
  	margin-top: -15px;
  	text-indent: -9999px;
  	width: 50px;
  	height: 50px;
  	background-image: url(/images/left_arrow.png);
  	background-size: 50px, 50px;
  }
}
.slider-wrapper:hover .nivo-prevNav{
	opacity: 1;
}
.slider-wrapper:hover .nivo-nextNav{
	opacity: 1;
}
.nivo-controlNav:hover .nivo-control img{
  	-webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
}


.sortable-images {
  font-size: 0;
  
  img {
    display: inline-block;
    margin: 0 8px 8px 0;
/*    border: 1px solid #ccc;*/
  }
}

.project-link{
  
}

iframe.youtube {
  margin: 5px;
}

.large-square-layout {
  .square {
    vertical-align: top;
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 280px;
    width: 280px;
    margin: 5px;
    padding: 0;
    line-height: 1em;
    border: 1px solid #ccc;

    img {
      width: 280px;
      background: white;
    }
    
    .empty {
      width: 280px;
      height: 280px;
      background-color: #888;
    }
    
    .title {
      font-size: 13;
      line-height: 1.5em;
      padding: 5px 10px;
      width: 280px;
/*      background-color: #1C1C1C;*/
      background-color: rgba(0, 0, 0, 0.8);
/*      background: black;*/
/*      opacity: 0.8;*/
      position: absolute;
      bottom: 0px;
      text-align: center;
      color: #BDBDBD;
      &:empty {
        display: none;
      }
    }
  }
}

.team-image {
  border: 1px solid #ccc;
  width: 350px;
  min-height: 200px;
  float: right;
  margin-bottom: 25px;
  text-align: center;
  vertical-align: middle;
  
/*  position: absolute;
  top: 20px;
  right: 20px;*/
  img {
    width: 100%;
    display: block;
  }
}

.team {

  display: inline-block;
  vertical-align: top;
  margin: 5px;
  margin-bottom: 30px;
  width: 425px;
  text-align: center;
  
  
  .team-name {
    font-size: 1.2em;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .team-image {
    display: inline-block;
    float: none;
    margin-bottom: 5px;
  }
  
  .team-members > * {
    font-size: 0.8em;
    white-space: nowrap;

    &:not(:last-child):after {
      content: ', '
    }
  }
}

/*.actor {
  border: 1px solid black;
  display: inline-block;
  width: 160px;
  vertical-align: top;
  margin: 5px;
  margin-bottom: 25px;
  text-align: center;
  
  .role {
    display: block;
    font-weight: bold;

  }
  
  .member {
    font-size: 0.8em;
  }
  
  .role-description {
    display: block;
  }
}*/

/*.actor {
  display: inline-block;
  width: 425px;
  margin: 5px;
  
  .member:after {
    content: ' - ' 
  }
  
  .role {
    font-size: .8em;
    font-style: italic;
  }
  
}*/

.actor {
  display: inline-block;
  width: 205px;
  margin: 5px;
  margin-bottom: 25px;
  text-align: center;
  
  .actor-image {
    border: 1px solid #ccc;
    width: 150px;
    height: 150px;
    display: inline-block;
  }
  
  .member {
    display: block;
  }
  
  .role {
    display: block;
    font-size: .8em;
    font-style: italic;
  }
  
}

#navigatable-nav {
  pointer-events: none;
  position: absolute;
  top: -6px;
  right: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  a {
    color: white;
    pointer-events: auto;
    &:hover {
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
    }
  }
}


