@import "compass";

@mixin debug-border($side) {
  border-#{$side}: 1px solid black;
}

$logo-width: 150px;

%core-block {
/*  padding: 5px;*/
  position: relative;
}

%core-container {
  @include debug-border(left);
  @include debug-border(right);
  @include debug-border(top);
  @include debug-border(bottom);
  
  max-width: 960px;
  width: 80%;
/*  margin: 0 auto;*/
  
  padding: 25px;
  position: relative;
  
  background: rgba(255, 255, 255, 0.9);
  
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.55);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.55);
  box-shadow: 0 1px 10px rgba(0,0,0,0.55);
  
  @include border-radius(4px);
}



* {
  @include box-sizing(border-box);
}

header {
  @extend %core-block;
}

$sidebar_width: 250px;

#sidebar {
  position: fixed;
  width: $sidebar_width;
  left: 0; top: 0; bottom: 0;
  background: white;
/*  z-index: 1000;*/
/*  border-right: 1px solid black;*/
  text-align: center;
  
  #logo {
    margin-top: 20px;
  }
  
  nav {
    display: block;

    margin-top: 40px;
    width: 100%;
    text-align: center;
    ul, li {
      display: block;
      margin: 0;
      padding: 0;
    }
    li {
      border-bottom: 1px solid #ccc;
      
      vertical-align: middle;
    }
    a {
      font-weight: 700;
      text-transform: uppercase;
      color: black;
      line-height: 45px;
    }
    .active a {
      color: #B8004A;
    }
  }
}

.internal { 
  #sidebar {
    top: 30px;
  }
  #content {
    margin-top: 30px;
  }
}



#content {
  margin-left: $sidebar_width - 10px;
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
/*  border: 1px solid red;*/
  padding: 80px;
  min-height: 100%;
}

.container {
  @extend %core-container;
}

footer {
  @extend %core-block;
  .container {
    @include debug-border(top);
    @include debug-border(bottom);
    background: #eee;
  }
}









html, body {
  height: 100%;
}

body {
  background-color: #fff;
  
  margin: 0;
  padding: 0;
}







.nav-simple {
  margin: 5px 0; 
  padding: 0;
  
  li {
    list-style: none;
    display: inline-block;
  }
  
  li:not(:last-child):after {
    content: ' | ';
  }
  
  li.active a {
    text-decoration: underline;
  }
}


