@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,800,700,300);

@mixin box-sizing($attr: border-box) {
  -webkit-box-sizing: $attr;
  -moz-box-sizing: $attr;
  box-sizing: $attr;
}

@mixin debug-border($side) {
  border-#{$side}: 1px solid black;
}

$logo-width: 150px;

%core-block {
/*  padding: 5px;*/
  position: relative;
}

%core-container {
  @include debug-border(left);
  @include debug-border(right);
  
  max-width: 960px;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

%font-copy {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

* {
  @include box-sizing;
}

header {
  @extend %core-block;
}

nav {
  @extend %core-container;
  @include debug-border(bottom);
  background: #eee;
  ul, li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  li {
    
  }
}

#content {
  @extend %core-block;
}

.container {
  @extend %core-container;
}

footer {
  @extend %core-block;
  .container {
    @include debug-border(top);
    @include debug-border(bottom);
    background: #eee;
  }
}

#logo {
  position: fixed;
  top: 0px;
  padding: 10px;
  width: $logo-width;
  max-width: 10%;
}







html, body {
  height: 100%;
}

body {
  @extend %font-copy;
  background-color: #fff;
  color: #333;
  
  margin: 0;
  padding: 0;
}

table, td, th {
  @extend %font-copy;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rokkitt', serif;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}


