@import "compass";

@mixin debug-border($side) {
  border-#{$side}: 1px solid black;
}

$logo-width: 150px;

%core-block {
/*  padding: 5px;*/
  position: relative;
}

%core-container {
  @include debug-border(left);
  @include debug-border(right);
  
  max-width: 960px;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  
  background: #efe;
}



* {
  @include box-sizing(border-box);
}

header {
  @extend %core-block;
}

nav {
  @extend %core-container;
  @include debug-border(bottom);
  background: #eee;
  ul, li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  li {
    margin-right: 10px;
  }
  a {
    text-decoration: underline;
  }
  a.active {
    color: blue;
  }
}

#content {
  @extend %core-block;
}

.container {
  @extend %core-container;
}

footer {
  @extend %core-block;
  .container {
    @include debug-border(top);
    @include debug-border(bottom);
    background: #eee;
  }
}

#logo {
  position: fixed;
  top: 0px;
  padding: 10px;
  width: $logo-width;
  max-width: 10%;
}







html, body {
  height: 100%;
}

body {
  background-color: #fff;
  
  margin: 0;
  padding: 0;
}








