@import 'bootstrap/variables';
@import 'bootstrap/mixins';

@import 'bootstrap/tables';

table {
  @extend .table;
  @extend .table-bordered;
  background: white;
}

table:not(.form) {
  @extend .table-striped;
}

table.form {
  th {
    vertical-align: middle;
  }
  
  th:after {
    content: ':';
  }
}