<%# Actions Dropdown %>
<% unless yield(:actions).blank? %>
  <li class='dropdown'>
    <a href='#' class='dropdown-toggle' data-toggle='dropdown'>Actions</a>
    <ul class='dropdown-menu'>
      <%= yield(:actions) %>
    </ul>
  </li>
<% end %>

<%# Anlegen Dropdown %>
<% unless yield(:default_actions).blank? %>
  <li class='dropdown'>
    <a href='#' class='dropdown-toggle' data-toggle='dropdown'>Anlegen</a>
    <ul class='dropdown-menu'>
      <%= yield(:default_actions) %>
    </ul>
  </li>
<% end %>
