<%# Actions Dropdown %>
<% unless yield(:actions).blank? %>
  <div class='ui dropdown item'>
    Actions
    <i class='dropdown icon'></i>

    <div class='black menu'>
      <%= yield(:actions) %>
    </div>
  </div>
<% end %>

<%# Anlegen Dropdown %>
<% unless yield(:default_actions).blank? %>
  <div class='ui dropdown item'>
    Anlegen
    <i class='dropdown icon'></i>
    <div class='black menu'>
      <%= yield(:default_actions) %>
    </div>
  </div>
<% end %>
