<div class='right menu'>
  <%= render partial: 'navigation/intern/actions' %>

  <% navigation_link_to 'Profil', '/profile' %>
  <%= link_to 'Logout', '/logout', class: 'item' %>

  <% if current_user.member %>
    <%= link_to current_user.member.full_name, '/profile', class: 'header item' %>
    <%- if current_user.member.has_image? %>
      <div class='item'>
        <img src='<%= asset_url current_user.member.file.url(:square) %>'>
      </div>
    <% end %>
  <% end %>

</div>
