
// article:not(:last-child) {
//   &:after {
//     content: ' ';
//     display: block;
//     margin-left: -25px;
//     margin-right: -25px;
//     margin-top: 80px;
//     margin-bottom: 25px;
//     border-bottom: 1px solid #ccc;
//   }
// }

article:not(:first-child) {
  &:before {
    content: attr(data-created-at);
    display: block;
    font-size: 0.8em;
    color: #666;
    text-align: right;
    position: relative;
    top: -10px;

  }
}

.no-slideshow-thumbs .nivo-controlNav {
  display: none !important;
}

article.container {
  margin-bottom: 50px;
}
