@import 'layouts';

.group-grid {
  .group {
    @extend %layout-item;
    border: 1px solid #ccc;
    width: 280px;
    height: 210px;
    background: #888;
    
    .group-name {
      @extend %layout-item-overlay;
    }
  }
}

.portal {
  .group {
    margin-bottom: 10px;
/*    font-size: 0.8em;*/
  }
  
  .group-actions {
    font-size: 0.8em;
    > a:not(:last-child) {
      &:after {
        content: ', '
      }
    }
  }
}