
%layout-item-overlay {
  font-size: 13;
  line-height: 1.5em;
  padding: 5px 10px;
  width: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0px;
  text-align: center;
  color: #BDBDBD;
  &:empty {
    display: none;
  }
}

%layout {
  
}

%layout-item {
  vertical-align: top;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 5px;
  padding: 0;
  line-height: 1em;
  border: 1px solid #ccc;
  
  img {
    width: 100%;
    background: white;
  }
  
  .title {
    @extend %layout-item-overlay;
  }
}



.large-square-layout {
  .square {
    @extend %layout-item;
    
    height: 280px;
    width: 280px;
    
    .empty {
      width: 280px;
      height: 280px;
      background-color: #888;
    }
    
  }
}

.two-column-layout {
  .item {
    @extend %layout-item;
    width: 428px;
    max-height: 280px;
    .empty {
      height: 280px;
      background-color: #888;
    }
  }
}

.right-sidebar-layout {
  float: right;
  margin-bottom: 25px;
  .item {
    @extend %layout-item;
    width: 350px;
    
  }
}
