
.pages-subnav {
  ul {
    list-style-type: none;
    padding: 0;
  }
  margin: 0 -25px;
  margin-bottom: 20px;
  padding: 3px 25px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  
  li {
    display: inline-block;
    
    &:not(:last-child):after {
      content: ' | '
    }
    
    &.active a {
      color: #B8004A;
    }
  }
}

.sortable-pages {
/*  border: 1px solid red;*/
  position: relative;
  
  li {
/*    border: 1px solid blue;*/
    position: relative;
  }
}