
.pages-subnav {
  margin: 0 -25px;
  margin-bottom: 20px;
  padding: 3px 25px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;

    div {
      display: inline-block;
    }

    &:not(:last-child):after {
      content: ' | ';
    }

    &.active a {
      color: #B8004A;
    }
  }
}

.sortable-pages {
  position: relative;

  li {
    position: relative;
  }
}
