.slider-wrapper {
  margin-left: -25px;
  margin-right: -25px;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  .nivo-controlNav {

  }
	.nivo-control img{
	  -webkit-transition: all .6s ;
	  -webkit-backface-visibility: hidden;
	  width:50px;
	  height:50px;
	  margin:1px;
	  -webkit-filter: grayscale(100%);
    -moz-filter:  grayscale(100%);
    -o-filter:  grayscale(100%);
    -ms-filter:  grayscale(100%);
	}

	.nivo-control.active img {
	  -webkit-transition: all .6s ;
	  -webkit-backface-visibility: hidden;
	  -webkit-transition: grayscale .5s;
	  -webkit-filter:  grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);

	}

  .nivo-nextNav{
  	-webkit-transition: opacity .5s;
  	-moz-transition: opacity .5s;
  	-o-transition: opacity .5s;
  	opacity: 0;
    margin-right: 5px;
  	margin-top: -15px;
  	text-indent: -9999px;
  	width: 50px;
  	height: 49px;
  	background-image: url(/images/right_arrow.png);
  	background-size: 50px, 50px;
  }
  .nivo-prevNav{
  	transition: opacity .5s;
  	-webkit-transition: opacity .5s;
  	-moz-transition: opacity .5s;
  	-o-transition: opacity .5s;
  	opacity: 0;
  	margin-left: 5px;
  	margin-top: -15px;
  	text-indent: -9999px;
  	width: 50px;
  	height: 50px;
  	background-image: url(/images/left_arrow.png);
  	background-size: 50px, 50px;
  }
}
.nivoSlider:hover .nivo-prevNav{
	opacity: 1;
}
.nivoSlider:hover .nivo-nextNav{
	opacity: 1;
}
.nivo-controlNav:hover .nivo-control img{
    -webkit-transition: all .6s;
    -webkit-backface-visibility: hidden;
    -webkit-filter:  grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
}


.sortable-images {
  font-size: 0;

  img {
    display: inline-block;
    margin: 0 8px 8px 0;
/*    border: 1px solid #ccc;*/
  }
}

.project-link{

}

iframe.youtube {
  margin: 5px;
}



.team-image {
  border: 1px solid #ccc;
  width: 350px;
  max-width: 100%;
  min-height: 200px;
  float: right;
  margin-bottom: 25px;
/*  margin-top: 25px;*/
  text-align: center;
  vertical-align: middle;

  img {
    width: 100%;
    display: block;
  }
}

.team {

  display: inline-block;
  vertical-align: top;
  margin: 5px;
  margin-bottom: 30px;
  width: 425px;
  text-align: center;

  a {
    color: black;
  }

  .team-name {
    font-size: 1.2em;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .team-image {
    display: inline-block;
    float: none;
    margin-bottom: 5px;
  }

  .team-members > * {
    font-size: 0.8em;
    white-space: nowrap;

    &:not(:last-child):after {
      content: ', '
    }
  }

  .team-project {
    font-size: 0.8em;
    margin-bottom: 10px;
    margin-top: -5px;

    &.inline {
      display: inline-block;

      &:not(:last-child):after {
        content: ' | '
      }
    }
  }
}

#darsteller .actor {
  vertical-align: bottom;
}

.actor {
  position: relative;
  display: inline-block;
  width: 205px;
  margin: 5px;
  margin-bottom: 25px;
  text-align: center;
  vertical-align: top;

  a {
    color: black;
  }

  .actor-image {
    border: 1px solid #ccc;
    width: 150px;
    height: 150px;
    display: inline-block;

    img {
      display: block;
    }

    &.uploading:after {
      content: 'uploading';
      position: absolute;
      top: 20px;
      left: 28px;
      right: 27px;
      background: #ccc;
    }

  }

  .member {
    display: block;
  }

  .role {
    display: block;
    font-size: .8em;
    font-style: italic;
  }

}

#navigatable-nav {
  pointer-events: none;
  position: absolute;
  top: -12px;
  right: 10px;
  color: white;
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  a {
    color: white;
    pointer-events: auto;
    margin-left: 3px;
    &:hover {
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
    }
  }
}


.youtube-preview {
  img {
    width: 428px;
    margin: 5px;
  }
}
