html, body {
  background: url('/images/background.png') fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
  height: 100%;
}


img {
  width: 50px;
}

.ui.navbar {
	margin-top: 0px !important;
}

.padding-reset{
	padding: 0px !important;
}

.ui.message{
	padding: 40px !important;
}

@media (max-width: 767px) {
  .ui.inverted.navbar{
	}
  .ui.vertical.menu{
  	margin-top: 60px !important;
    margin-left: 20px;
    width: auto;
  	display: none;
  }
  img {
    width: 30px;
  }
}




@mixin debug-border($side) {
  border-#{$side}: 1px solid black;
}

%core-block {
  position: relative;
}

%core-container {
  @include debug-border(left);
  @include debug-border(right);
  @include debug-border(top);
  @include debug-border(bottom);

  width: 70%;

  padding: 25px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;

  background: rgba(255, 255, 255, 0.8);

  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.55);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.55);
  box-shadow: 0 1px 10px rgba(0,0,0,0.55);

  border-radius: 4px;
}

.container {
  @extend %core-container;
}
