<ul class='sortable-images'>
  <input type='hidden' name='sorting[]' />
  <% collection.each do |attachment| %>
    <% if attachment.image? %>
      <li data-id='<%= attachment.id %>'><img src='<%= attachment.file.url(:square, {}) %>'></li>
    <% end %>
  <% end %>
</ul>

<input class='fileupload' type='file' name='files[]' data-url='<%= upload_url %>' multiple>