<div class='sortable-images'>
  <input type='hidden' name='sorting[]' />
  <% collection.each do |attachment| %>
    <% if attachment.image? %>
      <img data-id='<%= attachment.id %>' src='<%= attachment.file.url(:square, {}) %>'>
    <% end %>
  <% end %>
</div>

<input class='fileupload' type='file' name='files[]' data-url='<%= upload_url %>' multiple>