<div id="slider_partial" class="flexslider">
  <div class="slides">
    <% @images.each do |item| %>
      <li><img src="<%= asset_url item.url %>" /></li>
      <script>
        $(window).load(function() {
          $('.flexslider').flexslider({
            animation: 'slide',
            controlNav: true,
            smoothHeight: true,
            animationLoop: true,
            slideshow: true,
            itemWidth: 210,
            itemMargin: 5,
            pauseOnAction: false,
            pauseOnHover: true
          });
        });
      </script>
    <% end %>
  </div>
</div>
