<div class="slider-wrapper">
    <div id="slider" class="nivoSlider" data-show-thumbs='true'>
        <% @images.each do |item| %>
          <img src='<%= item.file.url(:large_cinema) %>' title='<%= item.description %>' data-thumb='<%= item.file.url(:square) %>'>
        <% end %>
    </div>
</div>
