
@media all and (max-height: 700px), (max-width: 1366px) {
  
  body, table, td, th, .subtitle {
    font-size: 14px;
  }
  
  #sidebar {
    width: 160px;
  }
  
  #sidebar nav {
    margin-top: 10px;
  }
  
  #sidebar #logo {
    width: 120px;
  }
  
  #login-link {
    width: 160px;
  }
  
  #content {
    margin-left: 120px;
    padding-right: 25px;
  }
  
  .container {
    width: 750px;
  }
  
  /* Layouts */
  .large-square-layout .square {
    width: 220px;
    height: 220px;
  }
  
  .two-column-layout .item {
    width: 335px;
    max-height: 225px;
  }
  
  .group-grid .group {
    width: 220px;
    height: 165px;
  }
  
  .team {
    width: 300px;
  }
  
  .profile-image {
    width: 200px;
    height: 200px;
  }
  
  /* Intern */
  .portal .portlet {
    width: 220px;
  }
  
  .portal .portlet.span3 {
    width: 680px;
  }
  
  .navbar .nav > li > a {
    padding: 10px 8px 10px;
  }
  
}