<a href='<%= location_path(location) %>' class='item'>
  <% if location.image %>
    <img src='<%= asset_url location.image.file.url(:normal) %>'>
  <% else %>
    <div class='empty'></div>
  <% end %>

  <div class ='title' >
    <%= location.name %>
  </div>
</a>
