<a href='<%= location_path(location) %>' class='item'>
  <% if location.image %>
    <img class='ui fluid image' src='<%= asset_url location.image.file.url(:normal) %>'>
  <% else %>
    <div class='empty'></div>
  <% end %>

  <div class="content" style='text-align: center;'>
      <div class="ui sub header"><%= location.name %></div>
  </div>
</a>
