<h1>Editing location</h1>

<%= render 'form' %>

<%= link_to 'Location löschen', location_path(@location), confirm: 'Wirklich löschen?', method: :delete, class: 'btn btn-danger' unless @location.new_record? %>
