- for team_membership in team_memberships.sort_by(&:year).reverse
  - team = team_membership.team
  - project = team_membership.project
  .team
    .team-name
      = team.name
      = with_clamps_unless_nil(team_membership.role)
    .team-project
      = link_to project.title, project
      = with_clamps_unless_nil(project.year)
    .team-image
      %a{ href: project_path(project) }
        %img{ src: asset_url(team.file.url(:normal))}
